/** By default, this is a mobile breakpoint **/
.banner_container {
    margin-bottom: 1rem;
    h1 {
        letter-spacing: -0.025em;
        font-weight: 800;
        color: var(--text-white-100);
        text-shadow: 0 0 10px coral;
        font-size: 3rem /* 48px */;
        line-height: 1;
        margin-bottom: 1rem;
    }
    span {
        color: var(--text-purple-dark);
        text-shadow: none;
    }
    p {
        margin-bottom: 0.75rem;
        font-size: 1.5rem /* 24px */;
        font-weight: bold;
        line-height: 2rem /* 32px */;
        color: var(--text-white-100);
        text-shadow: 0 0 10px coral;
    }
    button {
        background-color: var(--text-purple-dark);
        cursor: pointer;
        color: white;
        outline: 0;
        border: none;
        border-radius: 3px;
        padding: 1rem 2rem;
        font-size: 1.125rem /* 18px */;
        transition: 0.3s;
        &:hover {
            background-color: var(--text-white-100);
            color: black;
        }
    }
}
@media (max-width:767px) {
    .banner_container {
        h1 {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
        p {
            font-size: 1rem;
        }
        button {
            font-size: 0.75rem;
            padding: 0.5rem 1rem;
        }
    }
}