.main {
    margin-top: 20%;
    .link {
        width: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        .icon {
            font-size: 18px;
        }
    }
    .content {
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;

        .part1 {
            h1 {
                font-size: 40px;
                margin-bottom: 3rem;
                color: var(--text-white-100);
                text-transform: uppercase;
                text-shadow: 4px 3px 1px coral;
            }
            .image {
                border-radius: 10px;
            }
        }
        .part2 {
            margin-top: 40%;
            background-color: rgba($color:white , $alpha: 0.5);
            backdrop-filter: blur(3px);
            border-radius: 10px;
            padding: 1rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            .adr,
            .rating {
                font-weight: bold;
                display: flex;
                align-items: center;
                & .icon {
                    font-size: 30px;
                    margin-right: 1rem;
                    color: whitesmoke;
                }
            }
            button {
                cursor: pointer;
                width: fit-content;
                border: none;
                border-radius: 3px;
                background-color: var(--text-purple);
                color: var(--text-white-100);
                padding: 0.7rem 1.7rem;
                transition: 0.3s;
                &:hover {
                    color: black;
                    background-color: var(--text-white-100);
                }
            }
        }
    }
}
/* Medium */
@media (max-width: 992px) {
    .main{
        .content {
            .part2 {
                justify-content: space-around;
            }
        }
    }
}
/* Small */
@media (max-width: 768px) {
    .main {
        margin-top: 5%;
        .content {
            grid-template-columns: auto;
            .part2 {
                min-height: 170px;
                margin-top: 1rem;
                justify-content: space-around;
                .adr,
                .rating {
                    & .icon {
                        color: coral;
                    }
                }
            }
        }
    }
}
@media (max-width: 667px) {
    .image {
        width: 100%;
    }
}